<div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">saran!</h1>
  <%= link_to t(".to_schedule_index"), schedules_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  <%= link_to t(".to_register_page"), new_user_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  <%= link_to t(".to_login_page"), login_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>
